@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,700&family=Montserrat:wght@500;600;700&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
   color: white;
   background-color: rgb(129, 3, 112);
}